<link rel='icon' href='${rc.contextPath}/favicon.ico' mce_href='${rc.contextPath}/favicon.ico' type='image/x-icon'>
<link rel='shortcut icon' href='${rc.contextPath}/favicon.ico' mce_href='${rc.contextPath}/favicon.ico' type='image/x-icon'>